## Connecting Python with MySQL

In [ ]:
pip install pymysql

In [ ]:
pip install cryptography

In [1]:
import pymysql 
import cryptography
import os

In [3]:
Password = os.getenv("MYSQL_PASSWORD")

In [5]:
## Connect with MYSQL and Python
mydatabase = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = Password
)
mycursor = mydatabase.cursor()

In [7]:
## To display all the databases in MySQL
mycursor.execute("show databases")
for i in mycursor:
    print(i)

('day12',)
('earlycode',)
('hotel',)
('information_schema',)
('mysql',)
('performance_schema',)
('portal',)
('sakila',)
('sys',)
('world',)

In [ ]:
## Create A Database 
mycursor.execute("create database hotel")
mycursor.execute("show databases")
for i in mycursor:
    print(i)

In [24]:
## Create a Table 
mycursor.execute("use hotel")
mycursor.execute("""
create table reseveration(
res_id INT PRIMARY KEY NOT NULL, 
Full_name VARCHAR(30) NOT NULL, 
Gender ENUM("Male", "Female") NOT NULL, 
Phone_no VARCHAR(11) NOT NULL, 
Duration VARCHAR(10) NOT NULL, 
Room_type VARCHAR(20) NOT NULL, 
Nationality VARCHAR(20) NOT NULL, 
Payment_mode ENUM("Cash", "Card", "Transfer") NOT NULL
)
""")

0

In [28]:
mycursor.execute("show columns in reseveration")
for i in mycursor:
    print(i)

('res_id', 'int', 'NO', 'PRI', None, '')
('Full_name', 'varchar(30)', 'NO', '', None, '')
('Gender', "enum('Male','Female')", 'NO', '', None, '')
('Phone_no', 'varchar(11)', 'NO', '', None, '')
('Duration', 'varchar(10)', 'NO', '', None, '')
('Room_type', 'varchar(20)', 'NO', '', None, '')
('Nationality', 'varchar(20)', 'NO', '', None, '')
('Payment_mode', "enum('Cash','Card','Transfer')", 'NO', '', None, '')

In [ ]:
mycursor.execute("use hotel")
pin = 5555
def register():
    res_id = int(input("Enter your reseveration number: "))
    Full_name = input("Enter your Full name: ")
    Gender = input("Enter your Gender(Male or Female): ")
    Phone_no = input("Enter your Phone number: ")
    Duration = input("How long do you intend to stay: ")
    Room_type = input("Enter The room Type (Gold Class:1,000,000, First Class:500,000, Standard: 250,000),: ")
    Nationality = input("Enter your Nationality number: ")
    Payment_mode = input("Enter your Payment Mode( Cash, Card, Transfer): ")

    query =" insert into reseveration(res_id, Full_name, Gender, Phone_no, Duration, Room_type, Nationality, Payment_mode) values(%s, %s, %s, %s, %s, %s, %s, %s)"
    mycursor.execute(query, (res_id, Full_name, Gender, Phone_no, Duration, Room_type, Nationality, Payment_mode))

    mydatabase.commit()
    print("Registration Successful.")

def search():
    res_id = int(input("Enter your reseveration number: "))

    query = "select * from reseveration where res_id = %s"
    mycursor.execute(query, res_id)
    result = mycursor.fetchall()

    if len(result) == 0:
        print("Records not found")
    else:
        for i  in result:
            print(i)
def delete():
    user = int(input("Enter the pin number: "))
    if user == pin:
        res_id = int(input("Enter your reseveration number: "))
        query = "delete from reseveration where res_id = %s"
        mycursor.execute(query, res_id)
        mydatabase.commit()
        print("Record was successfully deleted.")
    else:
        print("\nAccess Denied")
def display():
    print("This is only Accessible to Admin Officers")
    user = int(input("Enter the pin number: "))
    if user == pin:
        query = " select * from reseveration "
        mycursor.execute(query)
        for i in mycursor:
            print(i)
    else:
        print("Access Denied\n")
        
def update():
    print("\n1 << Full name")
    print("2 << Gender")
    print("3 << Phone_no")
    print("4 << Duration")
    print("5 << Room_type")
    print("6 << Nationality")
    print("7 << Payment_mode")
    res_id = int(input("enter your reseveration number: "))
    choice = input("Choose from the following to Update")
    
    if choice == "1":
        Full_name = input("Enter your Full name: ")
        query = "update reseveration set Full_name = %s where res_id = %s"
        values = ( Full_name, res_id,)
    elif choice == "2":
        Gender = input("Enter your Gender: ")
        query = "update reseveration set Gender = %s where res_id = %s"
        values = (Gender, res_id,)
    elif choice == "3":
        Phone_no = input("Enter your Phone_no: ")
        query = "update reseveration set Phone_no = %s where res_id = %s"
        values = (Phone_no, res_id,)
    elif choice == "4":
        Duration = input("Enter the duration intend to stay: ")
        query = "update reseveration set Duration = %s where res_id = %s"
        values = (Duration, res_id,)
    elif choice == "5":
        Room_type = input("Enter your Room_type: ")
        query = "update reseveration set Room_type = %s where res_id = %s"
        values = (Room_type, res_id,)
    elif choice == "6":
        Nationality = input("Enter your Nationality: ")
        query = "update reseveration set Nationality = %s where res_id = %s"
        values = (Nationality, res_id,)
    elif choice == "7":
        Payment_mode = input("Enter your Payment_mode: ")
        query = "update reseveration set Payment_mode = %s where res_id = %s"
        values = (Payment_mode, res_id,)
    else:
        print("Invaild selection.\n")
    mycursor.execute(query, values)
    mydatabase.commit()
    print("Update was Successful.\n")

def main():
    while True:
        print("\n<< Welcome to Earlycode Hotel and Suites >> ")
        print("1 << Register")
        print("2 << Search")
        print("3 << Delete ")
        print("4 << Display ")
        print("5 << Update ")
        print("6 << Logout ")
        option = input("Pick from the following options: ")
        if option == "1":
            register()
        elif option == "2":
            search()
        elif option == "3":
            delete()
        elif option == "4":
            display()
        elif option == "5":
            update()
        elif option == "6":
            print("\nThanks for your Patronage, We hope to see you again.")
            break
        else:
            print("Invaild option..Please try again\n")

if __name__ =="__main__":
    main()

<< Welcome to Earlycode Hotel and Suites >>
1 << Register
2 << Search
3 << Delete
4 << Display
5 << Update
6 << Logout

Pick from the following options:  4

This is only Accessible to Admin Officers

Enter the pin number:  5555

(2501, 'Rita Ogbulu', 'Female', '08089674589', '3 Weeks', 'Gold class', 'Nigerian', 'Transfer')
(2502, 'Ben Chirstopher ', 'Male', '09045678943', 'One month ', 'Standard', 'Nigerian', 'Cash')
(2503, 'Nicholas Andrew', 'Male', '08090345567', '3 Weeks', 'Gold Class', 'Ghanaian', 'Card')
(2504, 'Queen Blessing', 'Female', '09122286789', 'Two Month ', 'Standard', 'Burkinabe', 'Card')
(2505, 'Joseph Ocheme', 'Male', '08123395678', 'Two Weeks', 'First Class', 'Angolan', 'Cash')

<< Welcome to Earlycode Hotel and Suites >>
1 << Register
2 << Search
3 << Delete
4 << Display
5 << Update
6 << Logout

Pick from the following options:  5

1 << Full name
2 << Gender
3 << Phone_no
4 << Duration
5 << Room_type
6 << Nationality
7 << Payment_mode

enter your reseveration number:  2502
Choose from the following to Update 4
Enter the duration intend to stay:  1 month

Update was Successful.


<< Welcome to Earlycode Hotel and Suites >>
1 << Register
2 << Search
3 << Delete
4 << Display
5 << Update
6 << Logout

Pick from the following options:  2
Enter your reseveration number:  2502

(2502, 'Ben Chirstopher ', 'Male', '09045678943', '1 month', 'Standard', 'Nigerian', 'Cash')

<< Welcome to Earlycode Hotel and Suites >>
1 << Register
2 << Search
3 << Delete
4 << Display
5 << Update
6 << Logout